body {
    background: whitesmoke;
    box-sizing: border-box;
}

.nav {
    color: white;
    padding-bottom: 16px;
}

.main {
    padding: 0 64px 16px;
    text-align: center;
    height: 100%;

    .scoreboard {
        padding: 8px 32px;
        color: grey;

        .edit[data-player] {
            font-size: 3em;
            color: darkgray;

            &:before {
                content: "✎";
                cursor: pointer;
                margin-right: 8px;
            }

            & + h1 {
                display: none;
            }
        }

        .active {
            font-weight: bold;
            font-size: 36px;
        }
    }

    .board {
        background: white;
        border: solid 1px grey;
        border-radius: 5px;

        .row {
            margin: 0;

            &:nth-child(1), &:nth-child(2) {
                border-bottom: solid 1px grey;
            }
        }

        .moved {
            color: grey !important;
            &:before {
                content: none !important;
            }
        }

        .moved.win {
            color: green !important;
            &:before {
                content: none !important;
            }
        }

        div[data-box] {
            padding: 16px 0;
            font-size: 7em;
            color: white;
            cursor: pointer;

            &:nth-child(1), &:nth-child(2) {
                border-right: solid 1px grey;
            }
        }

        div[data-box].x {
            &:before {
                content: 'x';
            }
        }

        div[data-box].o {
            &:before {
                content: 'o';
            }
        }

        div[data-box].o, div[data-box].x {
            &:hover {
                background: whitesmoke;
            }
        }
    }
}

.right-bar {
    .btn {
        width: 100%;
        margin: 4px 0;
    }
}
